.signup-form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    margin: auto;
    margin-top: 80px; 
    background-color: #F5F5F5;

}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 17px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF; 
}

.signup-input {
    margin-bottom: 5px; 
    padding: 10px; 
    border: 1px solid #6B6E70; 
    border-radius: 5px; 
}

.signup-submit-button {
    background-color:#333333;; 
    color: white;
    padding: 10px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
    justify-content: center;
}

.signup-submit-button:hover {
    background-color:  #6B6E70;
    color: white;
}
.logo-cont{
    color: rgb(97, 113, 134) !important;
    margin: 0px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  

